..
   Copyright 2021 IRT Saint-Exupéry, https://www.irt-saintexupery.com

   This work is licensed under the Creative Commons Attribution-ShareAlike 4.0
   International License. To view a copy of this license, visit
   http://creativecommons.org/licenses/by-sa/4.0/ or send a letter to Creative
   Commons, PO Box 1866, Mountain View, CA 94042, USA.

.. _gen_post_algos:

Post algorithms options
=======================

List of available algorithms:
{% for algo in post_algos%}:ref:`post_{{algo}}_options` -
{% endfor %}

{% for algo in post_algos%}
.. _post_{{algo}}_options:

{% set temp = ':class:`~' + post_modules[algo] + '.' + algo + '`' %}
:class:`~{{post_modules[algo]}}.{{algo}}`
{{ (temp|length)*'-' }}

Description
~~~~~~~~~~~

{{post_descriptions[algo]}}


Options
~~~~~~~

{% for option in post_options[algo]|dictsort %}
- **{{option[0]}}**, :code:`{{option[1]['ptype']}}` - {{option[1]['description']}}

{% endfor %}
{% endfor %}
